/* Base styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f5f5f5;
}
/* Styles for toasts */
/* .toast {
    padding: 8px 16px;
    width: 380px;
    border-radius: 8px;
    color: white;
    font-size: 14px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    position: fixed;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    opacity: 0;
    animation: fadeInOut 2s forwards;
    word-wrap: break-word;
    z-index: 100000 !important;
    max-height: 59px;
    text-align: center !important;
} */

.toast {
    padding: 10px 16px;
    width: 380px;
    border-radius: 8px;
    color: white;
    font-size: 14px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    position: fixed;
    left: 50%;
    transform: translateX(-50%) !important;
    text-align: center !important;
}

.success {
    background: #10b981;
}

.error {
    background: #f36666;
}

.warning {
    background: #d67c16;
}

.info {
    background: linear-gradient(to right, #4e8af7, #3b7cbf);
}

@keyframes fadeInOut {
    0% {
        opacity: 0;
        transform: translateX(-50%) translateY(20px);
    }
    10% {
        opacity: 1;
        transform: translateX(-50%) translateY(0);
    }
    90% {
        opacity: 1;
        transform: translateX(-50%) translateY(0);
    }
    100% {
        opacity: 0;
        transform: translateX(-50%) translateY(20px);
    }
}
