<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Admin Login</title>
        <%- include('../pages/partials/common-styles.ejs') %>

        <link rel="stylesheet" href="/styles/auth/login-page.css" />

        <!-- Common scripts -->
        <%- include('../pages/partials/common-scripts.ejs') %>
        <script
            src="/handlers/auth/loginPageHandler.js"
            type="module"
            defer
        ></script>
    </head>

    <body>
        <div class="login-container">
            <div class="login-box">
                <h2>Admin Login</h2>

                <form id="login-form">
                    <div class="form-group">
                        <label for="username">Username</label>
                        <input
                            type="text"
                            id="username"
                            name="username"
                            required
                            placeholder="Enter your username"
                        />
                    </div>

                    <div class="form-group">
                        <label for="password">Password</label>
                        <input
                            type="password"
                            id="password"
                            name="password"
                            required
                            placeholder="Enter your password"
                        />
                        
                        <input type="text" name="role" value="admin" hidden />
                    </div>

                    <button type="button" id="login-btn" class="login-btn">
                        Login
                    </button>
                </form>
            </div>
        </div>
    </body>
</html>
